<div class="tab-pane fade" id="details-{{divElementId}}">
    /<div id='{{divElementId}}-attributes-panel' class='panel panel-default'>

    </div>
    /<div id='{{divElementId}}-descriptions-panel' class='panel panel-default'>

    </div>
    /<div id='{{divElementId}}-rels-panel' class='panel panel-default'>

    </div>
    <div id='{{divElementId}}-children-panel' class='panel panel-default' style='height:100px;overflow:auto;margin-bottom: 15px;'>

    </div>
</div>