<p class="" style="margin-top: 20px;">Pre-coordinated Expression&nbsp;&nbsp;&nbsp;&nbsp;<small><i class="glyphicon glyphicon-export" id="{{divElementId}}-copy-pre-coordinated-expression"></i></small></p>
<div class="expression-code" style="margin-top: 10px; padding: 10px;">{{{preCoordinatedExpressionHtml}}}</div>
<p class="" style="margin-top: 20px;">Expression from Stated Concept Definition&nbsp;&nbsp;&nbsp;&nbsp;<small><i class="glyphicon glyphicon-export" id="{{divElementId}}-copy-stated-expression"></i></small></p>
<div class="expression-code" style="margin-top: 10px; padding: 10px;">{{{statedExpressionHtml}}}</div>
<p class="" style="margin-top: 20px;">Expression from Inferred Concept Definition&nbsp;&nbsp;&nbsp;&nbsp;<small><i class="glyphicon glyphicon-export" id="{{divElementId}}-copy-inferred-expression"></i></small></p>
<div class="expression-code" style="margin-top: 10px; padding: 10px;">{{{inferredExpressionHtml}}}</div>