<div class="tab-pane fade in active" id="home-{{divElementId}}" style="padding: 5px;">
    <div class="row" style="margin-right: 20px"><span class="pull-right text-muted" id="home-{{divElementId}}-viewLabel"></span></div>
    <div style="margin-left: 0%; margin-bottom: 10px; margin-top: 10px; width: 80%;border: 2px solid forestgreen; border-radius: 4px; padding: 5px;" id="home-parents-{{divElementId}}">

    </div>
    <div style="margin-left: 10%; margin-bottom: 10px; margin-top: 10px; width: 80%;border: 2px solid saddlebrown; border-radius: 4px; padding: 5px;" id="home-attributes-{{divElementId}}">

    </div>
    <div style="margin-left: 20%; margin-bottom: 10px; margin-top: 10px; width: 80%;border: 2px solid darkslateblue; border-radius: 4px; padding: 5px;" id="home-roles-{{divElementId}}">

    </div>
    <div><span class="text-muted pull-right" id="footer-{{divElementId}}"></span></div>
</div>
