<h4>
    <a href="javascript:void(0);" style="color: inherit;text-decoration: inherit;"  draggable = "true" ondragstart="drag(event, '{{divElementId}}')" data-module="{{firstMatch.module}}" data-concept-id="{{firstMatch.conceptId}}" data-term="{{firstMatch.defaultTerm}}" data-def-status="{{firstMatch.definitionStatus}}">
        <span class="badge alert-warning">
        {{#if_eq firstMatch.definitionStatus "Primitive"}}
            &nbsp;&nbsp;
        {{else}}
            &equiv;
        {{/if_eq}}
        </span>
    </a>
    &nbsp;&nbsp;
    {{firstMatch.defaultTerm}}
    <span class="pull-right">
       <div class="phoca-flagbox" style="width:40px;height:40px">
           <span class="phoca-flag {{countryIcon firstMatch.module}}"></span>
       </div>
    </span>
</h4>

<h5>SCTID: {{firstMatch.conceptId}}</h5>
<div id="home-descriptions-{{divElementId}}"></div>