{{#if_eq options.selectedView "stated"}}
    {{#each statedParents}}
        <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='text-warning' data-module="{{target.module}}" data-concept-id='{{type.conceptId}}' data-term='{{type.defaultTerm}}'>
            {{#if_gr type.defaultTerm 0}}
                {{substr type.defaultTerm 0}}
            {{else}}
                {{type.defaultTerm}}
            {{/if_gr}}
        </span>&nbsp;&rArr;&nbsp;

        {{#if_eq target.definitionStatus "Primitive"}}
            <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='sct-primitive-concept-compact' data-module="{{target.module}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}'>
        {{else}}
            <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='sct-defined-concept-compact' data-module="{{target.module}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}'>
        {{/if_eq}}

        {{#if_gr target.defaultTerm 0}}
            {{substr target.defaultTerm 0}}
        {{else}}
            {{target.defaultTerm}}
        {{/if_gr}}

        </span>
        <br>
    {{/each}}
    {{#if_eq statedParents.length 0}}
        <span class='text-muted'>No parents</span>
    {{/if_eq}}
{{else}}
    {{#each inferredParents}}
        <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='text-warning' data-module="{{target.module}}" data-concept-id='{{type.conceptId}}' data-term='{{type.defaultTerm}}'>
            {{#if_gr type.defaultTerm 0}}
                {{substr type.defaultTerm 0}}
            {{else}}
                {{type.defaultTerm}}
            {{/if_gr}}
        </span>&nbsp;&rArr;&nbsp;

        {{#if_eq target.definitionStatus "Primitive"}}
            <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='sct-primitive-concept-compact' data-module="{{target.module}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}'>
        {{else}}
            <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='sct-defined-concept-compact' data-module="{{target.module}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}'>
        {{/if_eq}}

        {{#if_gr target.defaultTerm 0}}
            {{substr target.defaultTerm 0}}
        {{else}}
            {{target.defaultTerm}}
        {{/if_gr}}

        </span><br>
    {{/each}}
    {{#if_eq inferredParents.length 0}}
        <span class='text-muted'>No parents</span>
    {{/if_eq}}
{{/if_eq}}