{{#each result.descriptions}}
    {{shown false}}
    {{#if_eq active false}}
        {{#if_eq ../../options.statusSearchFilter "inactiveOnly"}}
            <tr class='resultRow selectable-row danger'>
                <td class='col-md-7'>
                    <div draggable="true" ondragstart="drag(event, '{{divElementId}}')" class='result-item' data-concept-id='{{conceptId}}' data-term='{{term}}'>
                        <a href='javascript:void(0);' style='color: inherit;text-decoration: inherit;'  data-concept-id='{{conceptId}}' data-term='{{term}}'>{{term}}</a>
                    </div>
                </td>
                <td class='text-muted small-text col-md-5 result-item'  data-concept-id='{{conceptId}}' data-term='{{term}}'>
                    {{../../../result.defaultTerm}}
                </td>
            </tr>
            {{shown true}}
        {{else}}
            {{#if_eq ../../../options.statusSearchFilter "activeAndInactive"}}
                <tr class='resultRow selectable-row danger'>
                    <td class='col-md-7'>
                        <div draggable="true" ondragstart="drag(event, '{{divElementId}}')" class='result-item' data-concept-id='{{conceptId}}' data-term='{{term}}'>
                            <a href='javascript:void(0);' style='color: inherit;text-decoration: inherit;'  data-concept-id='{{conceptId}}' data-term='{{term}}'>{{term}}</a>
                        </div>
                    </td>
                    <td class='text-muted small-text col-md-5 result-item'  data-concept-id='{{conceptId}}' data-term='{{term}}'>
                        {{../../../../result.defaultTerm}}
                    </td>
                </tr>
                {{shown true}}
            {{/if_eq}}
        {{/if_eq}}
    {{else}}
        {{#if_eq conceptActive false}}
            {{#if_eq ../../../options.statusSearchFilter "inactiveOnly"}}
                <tr class='resultRow selectable-row danger'>
                    <td class='col-md-7'>
                        <div draggable="true" ondragstart="drag(event, '{{divElementId}}')" class='result-item' data-concept-id='{{conceptId}}' data-term='{{term}}'>
                            <a href='javascript:void(0);' style='color: inherit;text-decoration: inherit;'  data-concept-id='{{conceptId}}' data-term='{{term}}'>{{term}}</a>
                        </div>
                    </td>
                    <td class='text-muted small-text col-md-5 result-item'  data-concept-id='{{conceptId}}' data-term='{{term}}'>
                        {{../../../../result.defaultTerm}}
                    </td>
                </tr>
                {{shown true}}
            {{else}}
                {{#if_eq ../../../../options.statusSearchFilter "activeAndInactive"}}
                    <tr class='resultRow selectable-row danger'>
                        <td class='col-md-7'>
                            <div draggable="true" ondragstart="drag(event, '{{divElementId}}')" class='result-item' data-concept-id='{{conceptId}}' data-term='{{term}}'>
                                <a href='javascript:void(0);' style='color: inherit;text-decoration: inherit;'  data-concept-id='{{conceptId}}' data-term='{{term}}'>{{term}}</a>
                            </div>
                        </td>
                        <td class='text-muted small-text col-md-5 result-item'  data-concept-id='{{conceptId}}' data-term='{{term}}'>
                            {{../../../../../result.defaultTerm}}
                        </td>
                    </tr>
                    {{shown true}}
                {{/if_eq}}
            {{/if_eq}}
        {{else}}
            {{#if_eq ../../../options.statusSearchFilter "activeOnly"}}
                <tr class='resultRow selectable-row'>
                    <td class='col-md-7'>
                        <div draggable="true" ondragstart="drag(event, '{{divElementId}}')" class='result-item' data-concept-id='{{conceptId}}' data-term='{{term}}'>
                            <a href='javascript:void(0);' style='color: inherit;text-decoration: inherit;'  data-concept-id='{{conceptId}}' data-term='{{term}}'>{{term}}</a>
                        </div>
                    </td>
                    <td class='text-muted small-text col-md-5 result-item'  data-concept-id='{{conceptId}}' data-term='{{term}}'>
                        {{../../../../result.defaultTerm}}
                    </td>
                </tr>
                {{shown true}}
            {{else}}
                {{#if_eq ../../../../options.statusSearchFilter "activeAndInactive"}}
                    <tr class='resultRow selectable-row'>
                        <td class='col-md-7'>
                            <div draggable="true" ondragstart="drag(event, '{{divElementId}}')" class='result-item' data-concept-id='{{conceptId}}' data-term='{{term}}'>
                                <a href='javascript:void(0);' style='color: inherit;text-decoration: inherit;'  data-concept-id='{{conceptId}}' data-term='{{term}}'>{{term}}</a>
                            </div>
                        </td>
                        <td class='text-muted small-text col-md-5 result-item'  data-concept-id='{{conceptId}}' data-term='{{term}}'>
                            {{../../../../../result.defaultTerm}}
                        </td>
                    </tr>
                    {{shown true}}
                {{/if_eq}}
            {{/if_eq}}
        {{/if_eq}}
    {{/if_eq}}
{{/each}}

{{#shown "get"}}
{{else}}
    <tr><td class='text-muted'>No results</td></tr>
{{/shown}}