{{#each result.descriptions}}
    <tr class='resultRow selectable-row {{#if danger}}danger{{/if}}'>
        <td class='col-md-7'>
            <div>
                <span class="badge alert-warning" draggable="true" ondragstart="drag(event, '{{divElementId}}')" class='result-item' data-module="{{module}}" data-concept-id='{{conceptId}}' data-term='{{term}}'>&nbsp;</span>
                <a href='javascript:void(0);' style='color: inherit;text-decoration: inherit;' data-term='{{term}}' data-module="{{module}}" data-concept-id='{{conceptId}}' data-term='{{term}}'>{{term}}</a>
                <div class="phoca-flagbox" style="width:35px;height:35px">
                    <span class="phoca-flag {{countryIcon module}}"></span>
                </div>
            </div>
        </td>
        <td class='text-muted small-text col-md-5 result-item' data-term='{{term}}' data-module="{{module}}" data-concept-id='{{conceptId}}' data-term='{{term}}'>
            {{../result.defaultTerm}}
        </td>
    </tr>
{{/each}}

{{#if_eq result.descriptions.length 0}}
    <tr><td class='text-muted'>No results</td></tr>
{{/if_eq}}
