{{#if result.details}}
    <span class='text-muted'>{{result.details.total}} matches found in {{elapsed}} seconds.</span>
{{/if}}
<span class='pull right'>
<a class='btm btn-xs' style='margin: 3px; color: #777; background-color: #fff; border: 1px #ccc solid; margin-left: 25px;' data-toggle='collapse' href='#{{divElementId}}-searchFiltersPanel'>
    <span class='i18n' data-i18n-id='i18n_filters'>Filters</span>
</a>
{{#if_eq options.semTagFilter "none"}}
{{else}}
    &nbsp;&nbsp;<span class='label label-danger'>{{options.semTagFilter}}&nbsp;<a href='javascript:void(0);' style='color: white;text-decoration: none;' class='remove-semtag'>&times;</a></span>&nbsp;&nbsp;
{{/if_eq}}
{{#if_eq options.langFilter "none"}}
{{else}}
    &nbsp;&nbsp;<span class='label label-danger'>{{options.langFilter}}&nbsp;<a href='javascript:void(0);' style='color: white;text-decoration: none;' class='remove-lang'>&times;</a></span>&nbsp;&nbsp;
{{/if_eq}}
</span>
<div id='{{divElementId}}-searchFiltersPanel' class='panel-collapse collapse'>
    <div class='tree'>
        <ul>
            <li><a>Filter results by Language</a>
                <ul>
                    {{#each result.filters.lang}}
                        <li><a class='lang-link' href='javascript:void(0);' data-lang='{{@key}}'>{{@key}} ({{this}})</a></li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <ul>
            <li><a>Filter results by Semantic Tag</a>
                <ul>
                    {{#each result.filters.semTag}}
                        <li><a class='semtag-link' href='javascript:void(0);' data-semtag='{{@key}}'>{{@key}} ({{this}})</a></li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
</div>