{{#if result.matches}}
    {{#if_gre "0" result.matches.length}}
        <tr><td class='text-muted'>No results</td></tr>
    {{else}}
        {{#each result.matches}}
            <tr class='resultRow selectable-row{{#if_eq active false}} danger{{else}}{{#if_eq conceptActive false}} danger{{/if_eq}}{{/if_eq}}'>
                <td class='col-md-6'>
                    <div class='result-item' data-module="{{module}}" data-concept-id='{{conceptId}}' data-term='{{term}}'>
                        <span class="badge alert-warning" draggable='true' ondragstart="drag(event, '{{../divElementId}}')" data-module="{{module}}" data-concept-id='{{conceptId}}' data-term='{{term}}'>&nbsp;</span>
                        <a href='javascript:void(0);' style='color: inherit;text-decoration: inherit;' draggable="true" ondragstart="drag(event, '{{../../divElementId}}')" data-module="{{module}}" data-concept-id='{{conceptId}}' data-term='{{term}}'>{{term}}</a>
                        <div class="phoca-flagbox" style="width:35px;height:35px">
                            <span class="phoca-flag {{countryIcon module}}"></span>
                        </div>
                    </div>
                </td>
                <td class='text-muted small-text col-md-6 result-item' data-module="{{module}}" data-concept-id='{{conceptId}}' data-term='{{term}}'>{{fsn}}
                </td>
            </tr>
        {{/each}}
        {{#if_gr remaining 0}}
            <tr class='more-row'><td colspan='2' class='text-center'><button class='btn btn-link' id='{{divElementId}}-more'>Load {{returnLimit}} more ({{remaining}} remaining on server)</button></td></tr>
        {{else}}
            <tr class='more-row'><td colspan='2' class='text-center text-muted'>All {{result.details.total}} results are displayed</td></tr>
        {{/if_gr}}
    {{/if_gre}}
{{else}}
    <tr><td class='text-muted'>No results</td></tr>
{{/if}}
