<li data-modifier="{{modifier}}" class="list-group-item clearfix query-condition">
    <span class="text-muted line-number" style="font-size: 200%;"></span>&nbsp;&nbsp;
    <span style="position: relative; top: -5px;">
        <div style="width: 45px;display: inline-block;">{{modifier}},</div>
        {{#each criterias}}
            {{#if_eq @index 0}}
            {{else}}
                <br>
                <div style="margin-left: 45px; display: inline-block">AND</div>
            {{/if_eq}}
            <span class="constraint" data-term="{{term}}" data-criteria="{{criteria}}" data-concept-id="{{conceptId}}">
                {{criteria}}&nbsp;
                <span style="color: forestgreen;">{{conceptId}}</span>&nbsp;
                |
                <span style="color: firebrick;">{{term}}</span>
                |
            </span>
        {{/each}}
    </span>
    <button class='pull-right btn btn-link removeLi' style="position: relative; top: 3px;">
        <i class='glyphicon glyphicon-remove'></i>
    </button>
 </li>