<div style='height:100%;margin: 5px; overflow:auto;' class='panel panel-default' id='{{divElementId}}-mainPanel'>
    <div class='panel-heading' id='{{divElementId}}-panelHeading'>
        <div class='row'>
            <div class='col-md-6' id='{{divElementId}}-panelTitle'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<strong>{{{i18n "i18n_terminology_content_selection" "Terminology content selections"}}}</strong></div>
            <div class='col-md-6 text-right'>
                <!--<a class="btn btn-link" href="help/topics/creating-queries.html" target="_blank" title="Help" role="button"><i class='glyphicon glyphicon-question-sign'></i></a>-->
            </div>
        </div>
    </div>
    <div class='panel-body' style='height:100%' id='{{divElementId}}-panelBody'>
        <!--<p style="margin: 10px;">Create a query, conditions are evaluated in order:</p>-->
        <div class="row container-fluid" style="margin: 10px;">
            <p class="lead col-md-6">Build a query</p>
            <button type="button" id="{{divElementId}}-helpButton" class="btn btn-default pull-right" style="margin: 10px;" data-toggle="modal" data-target="#{{divElementId}}-queryHelpModal">{{{i18n "i18n_help" "Help"}}}</button>
            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#{{divElementId}}-ExamplesModal" style="margin: 10px;">{{{i18n "i18n_examples" "Examples"}}}</button>
            <button type="button" id="{{divElementId}}-clearButton" class="btn btn-default pull-right" style="margin: 10px;">{{{i18n "i18n_clear" "Clear"}}}</button>
        </div>
        <div class="row container-fluid" style="margin: 10px;">
            <form class="form-inline" role="form">
                <!--<span>New condition: </span>-->
                <!--<button type="button" class="btn btn-default pull-right"  id='{{divElementId}}-selectButton' style="margin: 10px;">{{{i18n "i18n_load_query" "Load query"}}}</button>-->
                <div class="form-group">
                    <div class="dropdown">
                        <button style="width: 75px;" class="btn btn-default dropdown-toggle" type="button" id="{{divElementId}}-modifierButton" data-toggle="dropdown" aria-expanded="true">
                            <span id="{{divElementId}}-selectedModifier">Include</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="{{divElementId}}-modifierButton">
                            <li role="presentation"><a role="menuitem" data-role="modifier-selector" tabindex="-1" href="javascript:void(0);">Include</a></li>
                            <li role="presentation"><a role="menuitem" data-role="modifier-selector" tabindex="-1" href="javascript:void(0);">Exclude</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="dropdown">
                        <button style="width: 147px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            <span id="{{divElementId}}-selectedCriteria">descendantOf</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">descendantOf</a></li>
                            <li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">descendantOrSelfOf</a></li>
                            <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">ancestorOf</a></li>-->
                            <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">ancestorOrSelfOf</a></li>-->
                            <li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">self</a></li>
                            <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">childrenOf</a></li>-->
                            <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">parentsOf</a></li>-->
                            <li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">isMemberOf</a></li>
                            <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">hasDescription</a></li>-->
                            <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">hasRelationship</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="form-group" id="{{divElementId}}-conceptField">
                    <input type="text" data-droppable="true" ondrop="dropField(event)" ondragleave="removeHighlight();" ondragover="allowDrop(event)" class="form-control" id="{{divElementId}}-selectedConcept" placeholder="Drag a concept here" readonly>
                    <input type="text" data-droppable="true" ondrop="dropField(event)" ondragleave="removeHighlight();" ondragover="allowDrop(event)" class="form-control" id="{{divElementId}}-selectedType" placeholder="Drag a type here" readonly>
                    <input type="text" data-droppable="true" ondrop="dropField(event)" ondragleave="removeHighlight();" ondragover="allowDrop(event)" class="form-control" id="{{divElementId}}-selectedTarget" placeholder="Drag a destination here" readonly>
                    <input type="text" class="form-control" id="{{divElementId}}-searchTerm" placeholder="Type search string">
                    <span class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="{{divElementId}}-formdropdown" data-toggle="dropdown" aria-expanded="true">
                            <span id="{{divElementId}}-selectedForm">stated</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="{{divElementId}}-formdropdown">
                            <li role="presentation"><a role="menuitem" data-role="form-selector" tabindex="-1" href="javascript:void(0);">stated</a></li>
                            <li role="presentation"><a role="menuitem" data-role="form-selector" tabindex="-1" href="javascript:void(0);">inferred</a></li>
                        </ul>
                    </span>
                </div>
                <div style="margin-left: 41px;" class="form-group" id="{{divElementId}}-addCriteriaAnd">
                    <div class="dropdown">
                        <button style="text-decoration: none;" class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true"><span data-toggle="tooltip" data-placement="top" title="More" class="glyphicon glyphicon-plus"></span></button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li role="presentation"><a class="addCriteria" data-type="Conjunction" role="menuitem" tabindex="-1" href="javascript:void(0);">Add AND</a></li>
                            <li role="presentation"><a class="addCriteria" data-type="Refinement" role="menuitem" tabindex="-1" href="javascript:void(0);">Add Refinement</a></li>
                        </ul>
                    </div>
                </div>
            </form>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <button type="button" class="btn btn-primary"  id='{{divElementId}}-addCriteriaButton' style="margin: 10px;">{{{i18n "i18n_add_condition" "Add instruction"}}}</button>
                    <!--<button type="button" class="btn btn-primary"  id='{{divElementId}}-cloudResults' style="margin: 10px; position: relative;" title="Open Cloud Queries Processor" data-toggle="modal" data-target="#{{divElementId}}-cloudModal"><i class='glyphicon glyphicon-cloud' style="position: relative; top: 3px;"></i> <span id="{{divElementId}}-cloudCount"></span></button>-->

                    <span id="{{divElementId}}-addmsg" for="{{divElementId}}-addCriteriaButton" class="small text-danger"></span>
                </div>
            </form>
            <ul class="list-group" id="{{divElementId}}-listGroup">
            </ul>
            <div class="btn btn-success" style="margin: 10px;" id='{{divElementId}}-computeInferredButton'>{{{i18n "i18n_run_query" "Run query"}}}</div>
            <div class="btn btn-success" style="margin: 10px;" id='{{divElementId}}-computeOntoserver'>Run on Ontoserver</div>
            <button type="button" class="btn btn-primary pull-right"  id='{{divElementId}}-open-grammar' style="margin: 10px; position: relative;" data-toggle="modal" data-target="#{{divElementId}}-constraintGrammarModal">{{{i18n "i18n_constraint_grammar" "Constraint Grammar"}}}</button>
            <br>
            <br>
            {{{i18n "i18n_results" "Results"}}}:  <span id="{{divElementId}}-resultInfo" class="text-muted small"></span>
        </div>
        <div class="row container-fluid" id="{{divElementId}}-output" style="margin: 10px;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Concept</th>
                    <th>Id</th>
                </tr>
                </thead>
                <tbody id="{{divElementId}}-outputBody"></tbody>
                <tfoot>
                <tr><td colspan="2" id="{{divElementId}}-footer" class="text-center text-muted small"></td></tr>
                </tfoot>
            </table>
            <table id="{{divElementId}}-output2" style="display: none">
                <thead>
                <tr>
                    <th>Concept</th>
                    <th>Id</th>
                </tr>
                </thead>
                <tbody id="{{divElementId}}-outputBody2">
                </tbody>
            </table>

            <a class="btn btn-default" download="results.xls" id="{{divElementId}}-exportXls" href="javascript:void(0);">{{{i18n "i18n_export_results_in_xls" "Export results in XLS"}}} <img style="height: 23px;" src="img/excel.png"></a>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>
<!-- Modals -->
<div class="modal fade" id="{{divElementId}}-ExamplesModal" tabindex="-1" role="dialog" aria-labelledby="{{divElementId}}-myCloudModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Terminology content selections examples</h4>
            </div>
            <div class="modal-body" style="max-height: 450px; overflow: auto;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="list-group navbar" id="{{divElementId}}-sidebar">
                            <ul id="{{divElementId}}-mynav" data-spy="affix" data-offset-top="280" class="nav" style="position: fixed; width: 30%;">
                                {{#each examples}}
                                    <li><a contenteditable="false" href="#{{../divElementId}}-{{@index}}-modal-examples" class="list-group-item">{{title}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8" id="{{divElementId}}-mycontent">
                        {{#each examples}}
                            <br>
                            <div id="{{../divElementId}}-{{@index}}-modal-examples" {{#if_eqInd @index ../examples.length}}style="min-height: 450px;"{{/if_eqInd}}>
                                <h4>{{title}}</h4>
                                <span data-htmlValue="{{htmlValue}}" class="pull-right btn btn-primary btn-xs loadExample" style="padding: 0px; display: inline-block;">Load this query</span>
                                <br>
                                <div class="contentExamples" style="margin: 10px;">{{{htmlValue}}}</div>
                                <br>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="{{divElementId}}-ExamplesModal-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="{{divElementId}}-queryHelpModal" tabindex="-1" role="dialog" aria-labelledby="{{divElementId}}-myCloudModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Terminology content selections help</h4>
            </div>
            <div class="modal-body" style="max-height: 450px; overflow: auto;">
                <h2>Terminology content selections</h2>
                <p>This tool implements a subset of functions from the "SNOMED CT Expression Constraint Language Specification and Guide" (<a href="http://snomed.org/expressionconstraint" target="_blank">http://snomed.org/expressionconstraint)</a>.</p>
                <p>The goal of this tool is to enable the creation of a query for the selection of content in SNOMED CT, with a user friendly UI designed to support the most common real world use cases for content selection, like the creation of reference sets to support implementation.</p>
                <h3>How to use</h3>
                <p>Add Inclusion and Exclusion instructions to the query, consider that all inclusions will be interpreted first, and all the exclusions last. The specific order of instructions within Inclusions or within Exclusions has no impact on the results.</p>
                <p>Each instruction has a criteria that defines the concept selection:</p>
                <ul>
                    <li><b>self</b>: selects only the specified concept.</li>
                    <li><b>descendantOf</b>: selects all descendants concepts, subtypes and subtypes of the subtypes, all the way to the leaf concpts in the hierarchy.</li>
                    <li><b>descendantOrSelfOf</b>: selects the specified concept plus all the descendants concepts.</li>
                    <li><b>memberOf</b>: the concepts that are members of the specified reference set. In this case the spcified concepts needs to be a reference set concept.</li>
                </ul>
                <p>After adding each instruction the number of concepts involved in the sentence will be calaculated, in order to provide an estimate of the complexity of the resulting query.</p>
                <p>The different instructions result in a "disjunction" operator in the query logic: "Include A, Include B" results in "A,B" (A OR B).</p>
                <p>Inside each instruction is possible to add "conjunction" operations. "Include descendantOf A and descendantOf B" means that only concepts are descendants of A and also descendants of B will be included in teh results.</p>
                <p>The "Constraint Grammar" button will display a valid constraint grammar expression that when executed will produce the same results as the logic described in the sequence of instructions.</p>
                <br>
                <h3>Degree of support of the Constraint Language Specification</h3>
                <p>This is partial implementation of the Constraint Language, prioritizing the features that support the most common use cases and the proposed simplified user interface.</p>
                <p>Supported features:</p>
                <ul>
                    <li>simpleExpressionConstraint</li>
                    <li>compoundExpressionConstraint</li>
                    <li>exclusionExpressionConstraint</li>
                    <li>disjunctionExpressionConstraint</li>
                    <li>conjunctionExpressionConstraint</li>
                    <li>refinedExpressionConstraint</li>
                </ul>
                <p>Unsupported features: (some may be added in future versions)</p>
                <ul>
                    <li>nested expressions</li>
                    <li>arbitrary order of instructions</li>
                    <li>complex operators like "^ <" (descendants of members)</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="{{divElementId}}-constraintGrammarModal" tabindex="-1" role="dialog" aria-labelledby="constraintGrammarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-height: 450px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="{{divElementId}}-constraintGrammarModalLabel">{{{i18n "i18n_constraint_grammar" "Constraint Grammar"}}}</h4>
            </div>
            <div class="modal-body" style="max-height: 450px; overflow: auto;">
                <div class="row">
                    <div class="expression-code col-md-11" id="{{divElementId}}-constraintGrammar">

                    </div>
                    <div class="col-md-1">
                        <i class="glyphicon glyphicon-copy pull-right" style="font-size: 20px;cursor: pointer;" id="{{divElementId}}-copyConstraint"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" id="home-{{divElementId}}-full-syntax-button">Full</button>
                    <button type="button" class="btn btn-default" id="home-{{divElementId}}-brief-syntax-button">Brief</button>
                </div>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>